<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="main/dashboard">
                        Tok2Dok
                    </a>
                </li>

                <li>
                    <a href="main/doctor-listing">
                        Doctors
                    </a>
                </li>
                <li>
                    <a>
                        About Us
                    </a>
                </li>
                <li>
                    <a>
                        Contact us
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy;
            {{test | date: 'yyyy'}},
            <a target="_blank">Designed and Developed</a> by Rahul Singh.
        </div>
    </div>
</footer>