<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">
        <div class="card" *ngFor="let obj of diagnostic_center">
          <div class="card-header card-header-danger">
            <h4 class="card-title">Diagnostic Centers</h4>
            <p class="card-category">Complete profile</p>
          </div>
          <div class="card-body">
            <form>
              <div class="row">
                <div class="col-md-8">
                  <!---->

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" />{{ obj.name }}
                  </mat-form-field>
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Established_in" />{{
                      obj.established_in
                    }}
                  </mat-form-field>

                  <!---->

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Address" />{{ obj.address }}
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Contact" />{{ obj.contact }}
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Landmark" />{{ obj.landmark }}
                  </mat-form-field>

                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Website" />{{ obj.website }}
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
        </div>
        <!--For Testing purpose-->
      </div>
    </div>
  </div>
</div>