<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Home Care Appointments</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>For Whom</th>
                                    <th>How Soon</th>
                                    <th>Age</th>
                                    <th>Frequency</th>
                                    <th>Gender</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Number</th>

                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of newHomeCareAppointmentDetails">
                                        <td>{{user.forwhom}}</td>
                                        <td>{{user.howsoon}}</td>
                                        <td>{{user.age}}</td>
                                        <td>{{user.frequency}}</td>
                                        <td>{{user.gender}}</td>
                                        <td>{{user.name}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.number}}</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>