<html>

<head>
    <title>
        Login Form
    </title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="../../assets/img/tok2doklogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" [routerLink]="['/']"
                        style="font-size: 15px; font-family: CormorantGaramond; color: rgb(59, 58, 58);">
                            <mat-icon style="margin-top: 1px; color: rgb(59, 58, 58);" >home</mat-icon>Home
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" [routerLink]="['/login']"
                        style="font-size: 15px; font-family: CormorantGaramond; color: rgb(59, 58, 58);">
                            <mat-icon style="margin-top: 1px; color: rgb(59, 58, 58);">how_to_reg</mat-icon>Login
                        </a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" [routerLink]="['/register']"
                        style="font-size: 15px; font-family: CormorantGaramond; color: rgb(59, 58, 58);">
                            <mat-icon style="margin-top: 1px; color: rgb(59, 58, 58);">person_pin</mat-icon>Register
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <div id="logreg-forms">
            <form class="form-signin">
                <h1 class="h3 mb-3 font-weight-normal"
                    style="text-align: center; color:white; font-family: Georgia, 'Times New Roman', Times, serif;">
                    Sign in
                </h1>
                <div class="social-login">
                    <button class="btn facebook-btn social-btn" type="button" (click)="signInWithFB()"><span><i
                                class="fab fa-facebook-f"></i> Sign
                            in with Facebook</span> </button>
                    <button class="btn google-btn social-btn" type="button" (click)="signInWithGoogle()"><span><i
                                class="fab fa-google-plus-g"></i> Sign
                            in with Google+</span> </button>

                </div>
                <p style="text-align:center; color: white;"> OR </p>


                <label id="role" style="color: white;">Select Role:</label>
                <select id="role" name="role" [(ngModel)]="role" class="form-control" required="" autofocus="">
                    <option value="doctors" selected="selected">Doctor</option>
                    <option value="users">User</option>
                    <option value="diagnostics">Diagnostic</option>
                </select>
                <br>


                <label id="email" style="color: white;">Username:</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required=""
                    autofocus="" [(ngModel)]="username" name="username" id="username">
                <br>
                <label style="color: white;">Enter Password:</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required=""
                    [(ngModel)]="password" name="password" id="password">

                <button class="btn btn-success btn-block" type="submit" (click)="onLoginSubmit()" value="Login"><i
                        class="fas fa-sign-in-alt"></i>
                    Sign in</button>
                <a href="#" id="forgot_pswd">Forgot password?</a>
                <hr>

                <button class="btn btn-primary btn-block" type="submit" id="btn-signup" (click)="onLoadPage()"
                    style="background-color: #3C589C;"><i class="fas fa-user-plus"></i>
                    Sign up New Account</button>
            </form>
        </div>

        <div class="hero-text">
            <h2 class="CormorantGaramond">HealthCare for Everyone, EveryWhere</h2>
            <p class="CormorantUpright ">For millions of people,
                Tok2dok is the trusted and
                familiar
                home where they
                know <br> they’ll find a healing
                touch.It connects them with everything they need to take <br> good care of themselves and their family -
                assessing health issues</p>
            <button class="btn btn-secondary">Home</button>
            <button class="btn btn-outline-info"><a [routerLink]="['/contact']">Contact
                    us</a></button>
        </div>

    </header>




</body>



</html>