<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8">

        <div class="card">
          <div class="card-header card-header-danger">
            <h3 class="card-title"
              style="font: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">SEARCH FOR
              DOCTORS
              IN YOUR LOCALITY</h3>
          </div>
        </div>


        <div class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search by name:</mat-label>
            <input matInput [(ngModel)]="name" (input)="Searchbyname()">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Search by speciality:</mat-label>
            <input matInput [(ngModel)]="speciality" (input)="Searchbyspeciality()">
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <mat-label>Search by city:</mat-label>
            <input matInput [(ngModel)]="city" (input)="Searchbycity()">
          </mat-form-field>

          <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onSubmit()">Submit</button>
        </div>


        <br> <br> <br>
        <div class="card" *ngFor="let eachDoctor of allDoctorDetails"
          style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

          <div class="card-header card-header-danger">
            <h4 class="card-title" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
              Doctors Profile</h4>
            <p class="card-category">Complete profile</p>
          </div>

          <div class="card-body">

            <form>
              <div class="row">
                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Name" />{{ eachDoctor.name }}
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Department" />{{ eachDoctor.department }}
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="Speciality" />{{
                      eachDoctor.speciality
                    }}
                  </mat-form-field>
                </div>

                <div class="col-md-8">
                  <mat-form-field class="example-full-width">
                    <input matInput placeholder="City" />{{
                      eachDoctor.city
                    }}
                  </mat-form-field>
                </div>

              </div>

              <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onLoadPage({_id:eachDoctor._id,name:eachDoctor.name, 
              department:eachDoctor.department,
              speciality:eachDoctor.speciality,city:eachDoctor.city,
              trainig:eachDoctor.training,email:eachDoctor.email, 
              mobile:eachDoctor.mobile, degrees:eachDoctor.degrees})" eachDoctor>
                View Profile
              </button>

              <!-- <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onLoadPage()">
                Book Appointment
              </button> -->
              <div class="clearfix"></div>
            </form>
          </div>
        </div>
      </div>
      <!-- <div class="col-md-4">
        <div class="card card-profile">
          <div class="card-avatar">
            <a href="javascript:void(0)">
              <img class="img" src="./assets/img/Doctor_img/34e65648-fab3-40cb-b30c-1cb479086dba.jpg" />
            </a>
          </div>
          <div class="card-body">
            <h6 class="card-category text-gray">Dr. Akhil Agarwal</h6>
            <h4 class="card-title">BDS, MDS - Orthodontics</h4>
            <p class="card-description">
              Dr.Akhil Agarwal completed his B.D.S. and M.D.S. from the world
              renowned King George’s Medical College (KGMC),Lucknow in the year
              2002 and 2006 respectively.He has been awarded Best Clinical
              Excellence award in Lingual Residency program, 2016.He was awarded
              "Best Scientific Paper Award" at a Lingual conference, AIIMS,
              2017. He is the first certified Invisalign provider in Lucknow
              region.
            </p>
            <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</div>