<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">

        <div class="search-div">
          <button mat-raised-button (click)="onCreate()">
            <mat-icon>add</mat-icon>Create
          </button>
          <mat-form-field class="search-form-field" floatLabel="never">
            <input matInput  placeholder="Search" autocomplete="off" >
            <button mat-button matSuffix mat-icon-button aria-label="Clear"  (click)="onSearchClear()">
              <mat-icon>close</mat-icon>
            </button>
          </mat-form-field>
        </div>


        <table mat-table [dataSource]="allHomeCareDetails" matSort class="mat-elevation-z8">


          <!-- Name Column -->
          <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Title</th>
            <td mat-cell *matCellDef="let allHomeCareDetails">
              {{ allHomeCareDetails.title }}
            </td>
          </ng-container>

          <!-- Weight Column -->
          <ng-container matColumnDef="address">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Address</th>
            <td mat-cell *matCellDef="let allHomeCareDetails">
              {{ allHomeCareDetails.address }}
            </td>
          </ng-container>

          <!-- Symbol Column -->
          <ng-container matColumnDef="state">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>state</th>
            <td mat-cell *matCellDef="let allHomeCareDetails">
              {{ allHomeCareDetails.state }}
            </td>
          </ng-container>

          <ng-container matColumnDef="country">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Country</th>
            <td mat-cell *matCellDef="let allHomeCareDetails">
              {{ allHomeCareDetails.country }}
            </td>
          </ng-container>

          <ng-container matColumnDef="action">
            <mat-header-cell *matHeaderCellDef mat-sort-header>Action</mat-header-cell>
            <mat-cell *matCellDef="let allHomeCareDetails">
              <button mat-icon-button (click)="onEdit(doctors)">
                <mat-icon>launch</mat-icon>
              </button>
              <button (click)="deletehomecare(allHomeCareDetails._id)" mat-icon-button color="warn">
                <mat-icon>delete_outline</mat-icon>
              </button>
            </mat-cell>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

        </table>
      </div>
    </div>
  </div>
</div>