<!-- First Content Start from here -->
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000;">Blood
                    Sugar Test Profile</h3>
                <hr>
                <p style="color: #000;">As Known as <b>Fasting Blood Sugar (FBS)</b> </p>

                <p style="color: black;"> &#9989; Certified Labs</p>
                <p style="color: #000;"> &#9989; Home Sample Collection</p>
                <p style="color: #000;"> &#9989; Reports Guaranteed with in 24 hrs</p>
                <p style="color: #000;"> &#9989; Digital Reports</p>
            </div>

            <div class="col-md-6">

                <img src="../../../assets/test/liver1.jpeg" style="width: 350px;
                margin-top: 35px; margin-right: 180px;">
                <hr>
            </div>


            <div class="col-md-4">

            </div>

            <div class="col-md-6">
                <h4 style="font: normal; color: #000;">₹400</h4>
                <p>Pay via cash or <b> Digitally</b></p>
                <button type="button" class="btn btn-outline-secondary">Add in Cart</button>
                <button type="submit" class="btn btn-info" (click)="onPageLoad()">Book Now</button>
                <hr>
            </div>

            <div class="col-md-4">

            </div>

            <!-- Next Content Start from Here -->
            <div class="col-md-8">
                <h3 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal; margin-left: 55px;">
                    Why Book With Us ?</h3>
                <hr>
                <div class="header">
                    <img src="../../assets/test/logo1.webp" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal; ">Free Home
                        Sample Collection</h4>
                    <br>
                    <p style="color: #000;"> A certified professional will collect your sample from a location of<br>
                        your preference.</p>
                </div>
                <hr>
                <div class="header">
                    <img src="../../assets/test/logo2.webp" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal;  ">
                        Digital reports</h4>
                    <br>
                    <p style="color: #000;"> Get the reports right in your mailbox within 24 hours. You will be<br>
                        notified
                        of the tests requiring more time for investigation and <br> report generation..</p>
                </div>

                <hr>
                <div class="header">
                    <img src="../../assets/test/logo4.webp" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal;  ">
                        Offers and affordable prices</h4>
                    <br>
                    <p style="color: #000;">Get great discounts and offers on tests and packages..</p>
                </div>

            </div>
            <!-- Next Phase regarding the test -->

            <div class="col-md-4">

            </div>



        </div>
    </div>
</div>