 .body {
    padding-top:100px;
    
}
.body {
    border: thin solid black; 
    border-radius: 4px;
    padding: 20px;
    padding-left: 40px;
    background: b#fbfbfb;
    
}



legend {
   color:#678;
}
.form-control {
    width: 100%;
}
label small {
    color: #678 !important;
}
span.req {
    color:black;
    font-size: 112%;
} 

 .centered {
  background-image:linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)),
  url("../../../assets/slider/walter-otto-PT70CT6mATQ-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat, repeat;
  height: 800px;
  background-attachment: fixed;
  
  }
   text {
    position: absolute;
    text-align: left;
    top: 30%;
    right: -150%;
    transform: translate(-50%, -50%);
  }

  
  .navbar-brand img {
    height: 50px;
}

.navbar .navbar-nav .nav-item .nav-link,.navbar .navbar-nav .nav-item .nav-link:visited {
    color:black;
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,.navbar .navbar-nav .nav-item .nav-link:active{
    color: grey;
   
}

.navbar .navbar-nav .nav-item .nav-link:link,.navbar .navbar-nav .nav-item .nav-link:visited{
    color: rgba(0,0,0,1);
    margin-right: 20px;
  }
  .navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active{
    margin-right: 20px;
    border-bottom: 2px solid #3C589C;
  }

  .page-footer {
    font-family: Georgia, 'Times New Roman', Times, serif;
  }

.copy-right_text {
padding-bottom: 30px;
background: #000000;
}


.copy-right_text .footer_border {
padding-bottom: 30px;
}


.copy-right_text .copy_right {
font-size: 16px;
color: #919191;
margin-bottom: 0;
font-weight: 400;
}

@media (max-width: 767px) {

.copy-right_text .copy_right {
  font-size: 14px;
}
}

.copy-right_text .copy_right a {
color: #5DB2FF;
}

/* Font Family */

.CormorantGaramond {
  font-family: CormorantGaramond;
  color: #3b3838;

}

.CormorantUpright {
  font-family: CormorantUpright;
  color: #3b3838;
  font-size: 25px;
}

.Allura {
  font-family: Allura;
}

    
