<!-- <div>
    <h2 class="page-header">Register</h2>
    <form (submit)="onRegisterSubmit()">

        <div class="form-group">
            <select id="role" name="role" [(ngModel)]="role" class="form-control" (change)="fun()">
                <option value="doctors">Doctor</option>
                <option value="users">User</option>

            </select>
        </div>



        <div class="form-group">
            <label for="name">Full Name</label>
            <input type="text" [(ngModel)]="name" name="name" class="form-control" id="name" placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="name">Mobile Number</label>
            <input type="text" [(ngModel)]="number" name="number" class="form-control" id="number"
                placeholder="Enter Mobile Number">
        </div>

        <div class="form-group">
            <label for="name">Gender</label>
            <input type="text" [(ngModel)]="gender" name="gender" class="form-control" id="gender"
                placeholder="Enter Name">
        </div>

        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email"
                aria-describedby="emailHelp" placeholder="Enter Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="email">Country</label>
            <input type="email" [(ngModel)]="country" name="country" class="form-control" id="country"
                aria-describedby="emailHelp" placeholder="Enter Email">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" [(ngModel)]="username" name="username" class="form-control" id="username"
                placeholder="Enter Username">
        </div>

        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" [(ngModel)]="password" name="password" class="form-control" id="password"
                placeholder=" Enter Password">
        </div>
        <input type="submit" class="btn btn-primary" value="Submit">
    </form>
</div> -->




<html>

<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

</head>

<body class="centered">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="#"><img src="../../assets/img/tok2doklogo.png"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto ">
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/']">Home</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/login']">Login</a>
                </li>
                <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link" [routerLink]="['/register']">Register</a>
                </li>
            </ul>
        </div>
    </nav>
    <!-- Registration Form -->
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <form (submit)="onRegisterSubmit()">
                    <div class="form-group">
                        <label for="role" style="color: black;"> Select Role: </label>
                        <select id="role" [(ngModel)]="role" name="role" class="form-control">
                            <option value=0>Doctor</option>
                            <option value=1>User</option>
                            <option value=2>Diagnostic</option>

                        </select>
                    </div>

                    <div class="form-group">
                        <label for="name" style="color: black;"> Full name: </label>
                        <input class="form-control" name="name" type="text" id="name" [(ngModel)]="name"
                            placeholder="Enter your Full Name" required />


                    </div>

                    <div class="form-group">
                        <label for="number" style="color: black;"> Mobile Number: </label>
                        <input required type="text" name="number" [(ngModel)]="number" class="form-control"
                            placeholder="Enter your number" />

                    </div>

                    <div class="form-group">
                        <label for="email" style="color: black;">Email Address: </label>
                        <input class="form-control" name="email" type="email" [(ngModel)]="email"
                            aria-describedby="emailHelp" placeholder="Enter your email" required />
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                            else.</small>

                    </div>

                    <div class="form-group">
                        <label for="gender" style="color: black;">Gender:</label>
                        <select id="gender" class="form-control" name="gender" [(ngModel)]="gender">
                            <option>Male</option>
                            <option>Female</option>
                            <option>Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="username" for="user" style="color: black;"> Username</label>
                        <input class="form-control" name="username" [(ngModel)]="username" type="text" id="user"
                            placeholder="Enter your password" required />

                    </div>

                    <div class="form-group">
                        <label for="password" style="color: black;">Password: </label>
                        <input required name="password" name="password" [(ngModel)]="password" type="password"
                            class="form-control " />
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" value="Submit">
                    </div>
                </form>
            </div>
            <!-- Text apper on the screen -->
            <!-- <div class="row">
                <div clsss="col-md-7">

                    <h1 style="font-family: Georgia, 'Times New Roman', Times, serif;">HealthCare for
                        Everyone,
                        EveryWhere</h1>
                    <p style="font-family:Georgia, 'Times New Roman', Times, serif;">For millions of people,
                        Tok2dok is the trusted and
                        familiar
                        home where they
                        know <br> they’ll find a healing
                        touch.It connects them with everything they need to take <br> good care of themselves
                        and
                        their
                        family -
                        assessing health issues</p>

                </div>
            </div> -->
        </div>
    </div>
</body>

</html>