<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title"
                            style="font: bold; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            Book Test Appointment |
                            <a href="main/dashboard">Home</a>

                        </h4>
                    </div>
                </div>

                <h4 style="color: black; margin-left: 38px;">Add Patient Details</h4>
                <hr>
                <br>


                <form [formGroup]=booktestService.form class="normal-form" (submit)="onSubmit()">
                    <mat-grid-list cols="2" rowHeight="200px">
                        <!-- First Grid Start From Here -->


                        <mat-grid-tile>
                            <div class="controles-container">
                                <input type="hidden" formControlName="$key">
                                <mat-form-field>
                                    <input formControlName="patient_name" matInput placeholder="Patient Name">
                                    <mat-error>This field is manadatory.</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="age" matInput placeholder="Age">
                                    <mat-error>This field is manadatory.</mat-error>
                                </mat-form-field>


                                <mat-form-field>
                                    <input formControlName="number" matInput placeholder="Mobile*" />
                                    <mat-error *ngIf="booktestService.form.controls['number'].errors?.required">This
                                        field is
                                        mandatory.</mat-error>
                                    <mat-error *ngIf="booktestService.form.controls['number'].errors?.minlength">
                                        Minimum 10
                                        charactors needed.</mat-error>
                                </mat-form-field>
                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="controles-container">
                                <div class="add-bottom-padding">
                                    <mat-radio-group formControlName="gender">
                                        <mat-radio-button value="Male">Male</mat-radio-button>
                                        <mat-radio-button value="Female">Female</mat-radio-button>
                                        <mat-radio-button value="Other">Other</mat-radio-button>
                                    </mat-radio-group>
                                </div>

                                <mat-form-field>
                                    <input formControlName="email" matInput placeholder="Email">
                                    <mat-error>This field is manadatory.</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="test" matInput placeholder="Selected Test">
                                    <mat-error>This field is manadatory.</mat-error>
                                </mat-form-field>

                            </div>


                        </mat-grid-tile>
                    </mat-grid-list>



                    <br>
                    <!-- Second Grid Start From Here -->
                    <h4 style="color: black; margin-left: 30px;">Select Patient Address</h4>


                    <mat-grid-list cols="2" rowHeight="200px">
                        <mat-grid-tile>
                            <div class="controles-container">
                                <input type="hidden" formControlName="$key">

                                <mat-form-field>
                                    <input formControlName="home_address" matInput placeholder="Home Address" />
                                    <mat-error>Enter your Home Address</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="pincode" matInput placeholder="pincode" />
                                    <mat-error>This Field is manadatory</mat-error>
                                </mat-form-field>

                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="controles-container">
                                <input type="hidden" formControlName="$key">

                                <mat-form-field>
                                    <input formControlName="locality" matInput placeholder="Landmark">
                                    <mat-error>Enter your landmark.</mat-error>
                                </mat-form-field>

                                <mat-form-field>
                                    <input formControlName="city" matInput placeholder="City">
                                    <mat-error>Enter your city name.</mat-error>
                                </mat-form-field>

                            </div>
                        </mat-grid-tile>
                    </mat-grid-list>

                    <!-- Third grid Start from here... -->
                    <h4 style="color: black; margin-left: 30px;">Select Time Slot</h4>


                    <mat-grid-list cols="2" rowHeight="130px">
                        <mat-grid-tile>
                            <div class="controles-container">
                                <input type="hidden" formControlName="$key">

                                <mat-form-field>
                                    <input formControlName="time" matInput placeholder="Time" />
                                    <mat-error>This field is manadatory.</mat-error>
                                </mat-form-field>

                            </div>
                        </mat-grid-tile>

                        <mat-grid-tile>
                            <div class="controles-container">
                                <input type="hidden" formControlName="$key">
                                <mat-form-field>
                                    <input formControlName="date" matInput [matDatepicker]="picker"
                                        placeholder="Date of Appointment" />

                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>

                                </mat-form-field>
                            </div>

                        </mat-grid-tile>
                    </mat-grid-list>
                    <br>
                    <br>
                    <div class="button-row">
                        <button mat-raised-button color="primary" type="submit"
                            [disabled]="booktestService.form.invalid">
                            Submit
                        </button>
                        <button mat-raised-button color="warn" (click)="onClear()">
                            Clear
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>