<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">


                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Doctor Admin</h4>
                        <p class="card-category"> Here is the details of all doctors</p>
                    </div>
                    <div class="card-body">
                        <table mat-table [dataSource]="allDoctorDetails">


                            <ng-container matColumnDef="name">
                                <th mat-header-cell *matHeaderCellDef> Name </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.name}} </td>
                            </ng-container>


                            <ng-container matColumnDef="speciality">
                                <th mat-header-cell *matHeaderCellDef>Speciality </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.speciality}}
                                </td>
                            </ng-container>


                            <ng-container matColumnDef="degrees">
                                <th mat-header-cell *matHeaderCellDef>Degrees </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.degrees}} </td>
                            </ng-container>

                            <ng-container matColumnDef="experience">
                                <th mat-header-cell *matHeaderCellDef>experience </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.experience}}
                                </td>
                            </ng-container>

                            <ng-container matColumnDef="training">
                                <th mat-header-cell *matHeaderCellDef>training </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.training}} </td>
                            </ng-container>

                            <ng-container matColumnDef="city">
                                <th mat-header-cell *matHeaderCellDef>City </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> {{allDoctorDetails.city}} </td>
                            </ng-container>

                            <ng-container matColumnDef="cancel">
                                <th mat-header-cell *matHeaderCellDef>Cancel </th>
                                <td mat-cell *matCellDef="let allDoctorDetails"> <button
                                        (click)="deleteDoctorListing(allDoctorDetails._id)" mat-raised-button
                                        color="warn">Cancel</button> </td>
                            </ng-container>



                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>





















    <!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">Doctor Admin</h4>
                        <p class="card-category"> Here is the details of all doctors</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Name</th>
                                    <th>Speciality</th>
                                    <th>Experience</th>
                                    <th>Training</th>
                                    <th>City</th>
                                    <th>Cancel</th>

                                </thead>

                                <tbody>
                                    <tr *ngFor="let eachDoctor of allDoctorDetails">
                                        <td>{{eachDoctor.name}}</td>
                                        <td> {{eachDoctor.speciality}}</td>
                                        <td> {{eachDoctor.experience}}</td>
                                        <td> {{eachDoctor.training}}</td>
                                        <td>{{eachDoctor.city}}</td>
                                        <td><button (click)="deleteDoctorListing(allDoctorDetails._id)"
                                                mat-raised-button color="warn">Cancel</button></td>

                                    </tr>


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->