<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">contact_phone</i>
                        </div>
                        <h1 class="card-category">Appointments</h1>
                        <h3 class="card-title">223

                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">addchart</i>23% Higher Growth

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">group_add</i>
                        </div>
                        <h1 class="card-category">New patient</h1>
                        <h3 class="card-title">120</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> Last 24 Hours
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment_ind</i>
                        </div>
                        <h1 class="card-category">Active Doctors</h1>
                        <h3 class="card-title">53</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Tracked
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="fa fa-twitter"></i>
                        </div>
                        <p class="card-category">Followers</p>
                        <h3 class="card-title">+245</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i> Just Updated
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-success">
                        <div class="ct-chart" id="dailySalesChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Hospital Survay</h4>
                        <p class="card-category">
                            <span class="text-success"><i class="fa fa-long-arrow-up"></i> 25% </span> increase in today
                        </p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> updated 10 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-warning">
                        <div class="ct-chart" id="websiteViewsChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">New Patients</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-chart">
                    <div class="card-header card-header-danger">
                        <div class="ct-chart" id="completedTasksChart"></div>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">Old Patients</h4>
                        <p class="card-category">Last Campaign Performance</p>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">access_time</i> campaign sent 2 days ago
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-info">
                        <h4 class="card-title">Appointments Status</h4>
                        <p class="card-category">Status changes everytime </p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-info">
                                <th>ID</th>
                                <th>Name</th>
                                <th>Consult-Doctor</th>
                                <th>Injury</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Vipin Tripathi</td>
                                    <td>Dr.Vimal Kumar</td>
                                    <td>Hair Line Fracture</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Shalini verma</td>
                                    <td>DR.S.N.SANKHWAR</td>
                                    <td>Blood Test</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Smith</td>
                                    <td>DR.NOUSHIF</td>
                                    <td>Blood Count</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>Sid</td>
                                    <td>Dr.R.A. Jha</td>
                                    <td>Glucose Tolerance Test</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="card">
                    <div class="card-header card-header-success">
                        <h4 class="card-title">Doctors Status</h4>
                        <p class="card-category">Status changes everytime </p>
                    </div>
                    <div class="card-body table-responsive">
                        <table class="table table-hover">
                            <thead class="text-success">
                                <th>ID</th>
                                <th>Department</th>
                                <th>Speciality</th>
                                <th>City</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>DR.AKHIL AGARWAL</td>
                                    <td>Ayurveda</td>
                                    <td>Lucknow</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>DR. S.N. SANKHWAR</td>
                                    <td>RadioTherapy</td>
                                    <td>Lucknow</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>DR. VIMAL KUMAR</td>
                                    <td>Hematology</td>
                                    <td>Chennai</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td>DR.NOUSHIF</td>
                                    <td>Transplanation-Liver</td>
                                    <td>Kozhikode</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>