<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title ">User Registration Table</h4>

                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead class=" text-primary">
                                    <th>Name</th>
                                    <th>Mobile Number</th>
                                    <th>Gender</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let user of allUserRegistrationDetails">
                                        <td>{{user.name}}</td>
                                        <td>{{user.number}}</td>
                                        <td>{{user.gender}}</td>
                                        <td>{{user.email}}</td>
                                        <td>{{user.username}}</td>

                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>