<!-- <div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <form>
                    <div class="row">
                        <div class="col-md-8">
                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Name" />{{ doctor.name }}
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Department" />{{ doctor.department }}
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="Speciality" />{{ doctor.speciality }}
                            </mat-form-field>

                            <mat-form-field class="example-full-width">
                                <input matInput placeholder="City" />{{ doctor.city }}
                            </mat-form-field>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> -->