<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <h3 class="card-title"
                            style="font-family: CormorantUpright;">
                            {{doctor.name}}</h3>

                    </div>

                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-8">
                                <h3 style="font-family:  CormorantUpright;">
                                    Profile Description
                                </h3>
                                <mat-divider></mat-divider>
                                <p style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">{{doctor.profile}} </p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card" style="font-family:  CormorantUpright;">
                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-8">
                                <h3 style="font-family:  CormorantUpright;">
                                    Qualification
                                </h3>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Degrees: {{doctor.degrees}}</p>
                                        <p style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Experience/Training: {{doctor.training}}</p>
                                    </div>


                                    <div class="col-md-4">
                                        <p style="font-family: CormorantGaramond; font-size: 17x; text-align: justify; color: #3b3838;">Gender: Male</p>
                                        <p style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Department: {{doctor.department}}</p>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" >
                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-8">
                                <h3  style="font-family: CormorantUpright;">
                                    Specialties
                                </h3>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{doctor.speciality}}
                                    </div>
                                    <br> <br>
                                    <p style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Specialty doctors have training in a specific area of
                                        medicine. This allows them
                                        to treat complex health problems that primary care doctors may not be able to.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">

                <div class="card">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title"
                        style="font-family: CormorantUpright;">
                            Contact</h4>
                    </div>

                    <div class="card-body">
                        <div class="row" style="width: 100%;">
                            <div class="col-md-4">
                                <p  style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Number: {{doctor.mobile}}</p>
                                <mat-divider></mat-divider>
                                <p  style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">City: {{doctor.city}}</p>
                                <mat-divider></mat-divider>
                                <p  style="font-family: CormorantGaramond; font-size: 17px; text-align: justify; color: #3b3838;">Email: {{doctor.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onLoadPage()"
                style="margin-left: 640px;font-family: CormorantGaramond; font-size: 17px; text-align: justify; ">
                Book Appointment
            </button>

        </div>
    </div>