<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">

                <div class="card" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

                    <div class="card-header card-header-danger">
                        <h3 class="card-title"
                            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            {{doctor.name}}</h3>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    Profile Description
                                </h3>
                                <mat-divider></mat-divider>
                                <p>{{doctor.profile}} </p>
                            </div>
                        </div>

                    </div>
                </div>


                <div class="card" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    Qualification
                                </h3>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-4">
                                        <p>Degrees: {{doctor.degrees}}</p>
                                        <p>Experience/Training: {{doctor.training}}</p>
                                    </div>


                                    <div class="col-md-4">
                                        <p>Gender: Male</p>
                                        <p>Department: {{doctor.department}}</p>
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="card" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-8">
                                <h3 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                                    Specialties
                                </h3>
                                <mat-divider></mat-divider>
                                <div class="row">
                                    <div class="col-md-4">
                                        {{doctor.speciality}}
                                    </div>
                                    <br> <br>
                                    <p style="margin-left: 15px;">Specialty doctors have training in a specific area of
                                        medicine. This allows them
                                        to treat complex health problems that primary care doctors may not be able to.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>





            </div>


            <div class="col-md-4">

                <div class="card" style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">

                    <div class="card-header card-header-danger">
                        <h4 class="card-title"
                            style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">
                            Contact</h4>

                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <p>Number: {{doctor.mobile}}</p>
                                <mat-divider></mat-divider>
                                <p>City: {{doctor.city}}</p>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

            <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="onLoadPage()"
                style="margin-left: 640px;">
                Book Appointment
            </button>

        </div>
    </div>