<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">

                <!-- Search Start bar -->
                <mat-form-field>
                    <mat-label style="font-family: CormorantGaramond; font-size: 20px; color: #3b3838">Search your city</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let location of search" [value]="location.value">
                            {{location.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <!--Search bar End  -->

                <!-- Slider Start -->

                <!-- Card -->
                <div class="card card-cascade wider reverse">

                    <!-- Card image -->
                    <div class="view view-cascade overlay">
                        <img class="card-img-top" src="../../assets/test/practo.webp" alt="Card image cap">
                        <a href="#!">
                            <div class="mask rgba-white-slight"></div>
                        </a>
                    </div>

                    <!-- Card content -->
                    <div class="card-body card-body-cascade text-center">

                        <!-- Title -->

                        <hr>


                        <!-- Text -->
                        <div>
                            <h3 class="card-text"
                                style="font-family: CormorantGaramond; color: #000000">
                                Get lab
                                tests and full body checkups from the comfort of your home
                            </h3>
                        </div>
                    </div>
                </div>
                <!-- Card -->
                <!-- Slider End -->

                <!-- Heading -->

                <h3 style="font-family: CormorantGaramond; color: #000000;">
                    TOP DIAGNOSTIC
                    PACKAGES</h3>
                <h5 class="CormorantUpright">
                    A range of comprehensive health checkups for your entire family </h5>
                <!-- Top Diagnostic Packages -->


                <div class="row">
                    <div class="col-md-3" style="background-color: #eee;">
                        <mat-card class="example-card" style="width: 16rem;">
                            <mat-card-header>
                                <mat-card-title class="CormorantUpright">Complete
                                    Blood Count
                                </mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-content>
                                <p style="margin-left: 18px; font-family: CormorantGaramond; font-size: 18px;">
                                    Known as Complete Blood Count<br> Automated Blood (CBC)
                                </p>
                                <br>
                                <h4 style="margin-left: 17px;">₹300</h4>
                                <br>
                            </mat-card-content>

                            <mat-card-actions>
                                <button class="btn btn-danger" (click)="onclick()">Blood Test</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div class="col-md-3" style="background-color: #eee;">
                        <mat-card class="example-card" style="width: 16rem;">
                            <mat-card-header>
                                <mat-card-title class="CormorantUpright">Liver Function
                                    Test
                                </mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-content>
                                <p style="margin-left: 18px; font-family: CormorantGaramond; font-size: 18px;">
                                    Known as Liver Functin Bloood Test (LFT)
                                </p>
                                <br><br>
                                <h4 style="margin-left: 17px;">₹400</h4>
                                <br>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <button class="btn btn-danger" (click)="onload()">Blood Test</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div class="col-md-3" style="background-color: #eee;">
                        <mat-card class="example-card" style="width: 16rem;">
                            <mat-card-header>
                                <mat-card-title class="CormorantUpright">Hba1c
                                </mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-content>
                                <p style="margin-left: 18px; font-family: CormorantGaramond; font-size: 18px;">
                                    Blood Sugar Fasting (FBS)
                                    Known as Glycostylated Haemoglobin
                                </p>
                                <br>
                                <h4 style="margin-left: 17px;">₹300</h4>
                                <br>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <button class="btn btn-danger" (click)="load()">Blood Test</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                    <div class="col-md-3" style="background-color: #eee;">
                        <mat-card class="example-card" style="width: 16rem;">
                            <mat-card-header>
                                <mat-card-title class="CormorantUpright">ALP Test
                                </mat-card-title>
                            </mat-card-header>
                            <mat-divider></mat-divider>
                            <br>
                            <mat-card-content>
                                <p style="margin-left: 18px; font-family: CormorantGaramond; font-size: 18px;">
                                    Alkaline phosphatase level test (ALP test)
                                </p>
                                <br> <br>
                                <h4 style="margin-left: 17px;">₹300</h4>
                                <br>
                            </mat-card-content>
                            <mat-divider></mat-divider>
                            <mat-card-actions>
                                <button class="btn btn-danger" (click)="click()">Blood Test</button>
                            </mat-card-actions>
                        </mat-card>
                    </div>

                </div>

                <br>
                <mat-divider></mat-divider>

                <!-- Heading -->
                <h3 class="CormorantGaramond" >

                    HEALTH CHECKUP AND SCREENING FOR</h3>

                <!-- Health Checkup card Start -->
                <div class="card-deck">

                    <div class="card">
                        <img class="card-img-top" src="../../assets/health/health1.jpeg" alt="Card image cap"
                            height="150px">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Diabetes
                            </h5>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../assets/health/health2.png" alt="Card image cap"
                            height="150px">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Skin
                                Care</h5>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../assets/health/health3.jpeg" alt="Card image cap"
                            height="150px">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Kidney
                            </h5>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../assets/health/health4.jpg" alt="Card image cap"
                            height="150px">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Bone
                            </h5>
                        </div>
                    </div>

                    <div class="card">
                        <img class="card-img-top" src="../../assets/health/health5.jpg" alt="Card image cap"
                            height="150px">
                        <div class="card-body">
                            <h5 class="card-title"
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Fever
                            </h5>
                        </div>
                    </div>
                </div>
                <!-- Health Checkup card end -->

                <br>
                <mat-divider></mat-divider>

            </div>

            <!-- Heading -->

            <div class="col-md-12">
                <h3 class="CormorantGaramond" >
                    TOP DIAGNOSTIC
                    PACKAGES</h3>
            </div>

            <!-- Top Booked Medical Search -->
            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <div class="card-header"
                        style="font: xx-large;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000;">
                        <img src="../../assets/Booktestlogo/logo1.webp" style="height: 50px;">
                        Liquid Profile
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font: normal;">
                                Ldl Cholesterol Test</h5>
                            <p style="color: black;">Also known as Cholesterol Ldl Enzymatic Colorimetric Method Blood
                            </p>
                        </li>
                        <li class="list-group-item">
                            <h5
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font: normal;">
                                Hdl Cholesterol Test</h5>
                            <p style="color: black;">Also known as Cholesterol Hdl Enzymatic Colorimetric Method Blood
                            </p>

                        </li>

                        <li class="list-group-item">
                            <h5
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font: normal;">
                                Vldl Cholesterol Test</h5>
                            <p>Also known as Vldl Cholesterol Blood</p>
                        </li>

                        <li class="list-group-item">
                            <h5
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font: normal;">
                                Total Cholesterol Test</h5>
                            <p>Also known as Cholesterol Test</p>
                        </li>


                        <li class="list-group-item">
                            <h5
                                style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color: black; font: normal;">
                                Triglycerides Blood Test</h5>
                            <p>Also known as Triglycerides Blood</p>
                        </li>

                        <li class="list-group-item">
                            <button class="btn btn-info" (click)="onLoadPage()">Book Now</button>
                        </li>

                    </ul>

                </div>
            </div>



            <div class="col-md-4">
                <div class="card" style="width: 25rem;">
                    <div class="card-header"
                        style="font: xx-large;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000;">
                        <img src="../../assets/Booktestlogo/logo2.webp" style="height: 50px;">
                        Liver Profile
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                        color: black; font: normal;">Gamma Glutamyl Transferase</h5>
                            <p>Gamma-glutamyl transferase (GGT) is an enzyme that is found in many organs throughout
                                the body.</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Total Bilirubin</h5>
                            <p>Also known as Bilirubin Total Blood</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Ast Test</h5>
                            <p>Also known as SGOT</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Alp Test</h5>
                            <p> Alkaline phosphatase (ALP) is an enzyme found mostly in the cells of bone and the
                                liver</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Albumin Test</h5>
                            <p>Also known as Albumin Blood</p>
                        </li>

                        <li class="list-group-item">
                            <button class="btn btn-info" (click)="onLoad()">Book Now</button>
                        </li>

                    </ul>
                </div>
            </div>



            <div class="col-md-4">
                <div class="card" style="width: 25rem;"
                    style="font: xx-large;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;color: #000;">
                    <div class="card-header">
                        <img src="../../assets/Booktestlogo/logo3.webp" style="height: 50px;">
                        Blood Sugar
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Hba1C Test</h5>
                            <p>Also known as Glycosylated Haemoglobin Blood</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Fasting Blood Sugar Test</h5>
                            <p>Also known as GLucose Fasting Blood</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Random Blood Sugar Test</h5>
                            <p>Aslo known as RBS</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Blood Sugar Levels After Eating</h5>
                            <p>Also known as Post Prandial Blood Sugar</p>
                        </li>

                        <li class="list-group-item">
                            <h5 style="font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
                            color: black; font: normal;">Creatinine Test</h5>
                            <p>A creatinine blood test measures the level of creatinine in the blood.
                                Also known as Creatinine Conventional Blood</p>
                        </li>


                        <li class="list-group-item">
                            <button class="btn btn-info" (click)="onClick()">Book Now</button>
                        </li>

                    </ul>
                </div>
            </div>

            <br><br>

            <!--Why book with us and How It works -->

            <div class="col-md-6" style="background-color: white;">
                <h3 style="font-family: CormorantGaramond; color: #000;" >
                    Why Book With Us ?</h3>
                <hr>
                <div class="header">
                    <img src="../../assets/test/logo1.webp" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal; ">Free Home
                        Sample Collection</h4>
                    <br>
                    <p style="color: #000;"> A certified professional will collect your sample from <br> a location of
                        your preference.</p>
                </div>
                <hr>
                <div class="header">
                    <img src="../../assets/test/logo2.webp" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal;  ">
                        Digital reports</h4>
                    <br>
                    <p style="color: #000;"> Get the reports right in your mailbox within 24 hours.<br> You will be
                        notified
                        of the tests requiring more time <br> for investigation and report generation..</p>
                </div>
            </div>


            <div class="col-md-6" style="background-color: white;">
                <h3  style="font-family: CormorantGaramond; color: #000;">
                    How It Works ?</h3>
                <hr>
                <br>
                <div class="Header">
                    <img src="../../assets/test/logo3.svg" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal; ">
                        Search & select the test</h4>
                    <br>
                    <p style="color: #000;"> Search for tests and packages and seamlessly book <br> a home sample
                        collection.
                    </p>
                </div>

                <hr>

                <div class="Header">
                    <img src="../../assets/test/logo4.svg" alt="logo" />
                    <h4 style="font-family:'Times New Roman', Times, serif; color: #000; font: normal; ">
                        Schedule a home sample collection </h4>
                    <br>
                    <p style="color: #000;">We will email you the reports. You can also access <br> your reports within
                        your
                        account</p>
                </div>

            </div>

            <br><br>
            <!-- Heading -->

            <div class="col-md-12">
                <h3  style="font-family: CormorantGaramond; color: #000;">
                    NOT FINDING WHAT YOU ARE LOOKING FOR?</h3>
            </div>


            <!-- Add Test Start-->

            <div class="col-md-12">

                <section class="login-block">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 login-sec">
                                <h2 class="text-center">Submit a Query</h2>
                                <form class="login-form">
                                    <div class="form-group">
                                        <label for="name" class="text-uppercase" style="color: #000;">Your Name</label>
                                        <input type="text" [(ngModel)]="name" class="form-control" name="name"
                                            placeholder="Enter your Name">

                                    </div>
                                    <div class="form-group">
                                        <label for="query" class="text-uppercase" style="color: #000;">Query</label>
                                        <input type="text" [(ngModel)]="query" class="form-control" name="query"
                                            placeholder="Enter your Query">
                                    </div>

                                    <div class="form-group">
                                        <label for="number" class="text-uppercase" style="color: #000;">Mobile
                                            No.</label>
                                        <input type="text" [(ngModel)]="mobile" name="mobile" class="form-control"
                                            placeholder="Enter your Number">
                                    </div>

                                    <div>
                                        <button class="btn btn-info" (click)="onSubmit()">Submit</button>
                                    </div>


                                </form>
                                <div class="copy-text"><a href="http://grafreez.com"></a>
                                </div>
                            </div>
                            <div class="col-md-8 banner-sec">
                                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                                    <ol class="carousel-indicators">
                                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active">
                                        </li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                                    </ol>
                                    <div class="carousel-inner" role="listbox">
                                        <div class="carousel-item active">
                                            <img class="d-block img-fluid" src="../../assets/test/diagnostic2.jpg"
                                                alt="First slide">

                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid" src="../../assets/test/diagnostic3.jpg"
                                                alt="First slide">
                                            <div class="carousel-caption d-none d-md-block">

                                            </div>
                                        </div>
                                        <div class="carousel-item">
                                            <img class="d-block img-fluid"
                                                src="https://images.pexels.com/photos/872957/pexels-photo-872957.jpeg"
                                                alt="First slide">
                                            <div class="carousel-caption d-none d-md-block">

                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </section>

            </div>

            <!-- Add Test End -->
            <div class="col-md-12">
                <h3  style="font-family: CormorantGaramond; color: #000;">
                    PARTNER WITH US</h3>
            </div>

            <!-- Add Diagnostic Center Start -->

            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        <div class="contact-info">
                            <img src="https://image.ibb.co/kUASdV/contact-image.png" alt="image" />
                            <h2>Contact Us</h2>
                            <h4>We would love to hear from you !</h4>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="contact-form">
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="center">Diagnostic Center:</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="Name" name="Name" class="form-control" id="center"
                                        placeholder="Enter your Name" name="center">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="based">We are based on:</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="location" name="location" class="form-control"
                                        id="based" placeholder="Enter your Location" name="based">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="registration">Registration No:</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="reg_number" name="reg_number" class="form-control"
                                        id="registration" placeholder="Enter your Registration Number"
                                        name="registration">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-3" for="email">My Mail Id is:</label>
                                <div class="col-sm-9">
                                    <input type="email" [(ngModel)]="email" name="email" class="form-control" id="email"
                                        placeholder="Enter your email Id" name="email">
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-sm-3" for="phone">My Phone number is:</label>
                                <div class="col-sm-9">
                                    <input type="text" [(ngModel)]="number" name="number" class="form-control"
                                        id="phone" placeholder="Enter you Mobile Number" name="phone">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-info" (click)="onPageLoad()">I Wish TO Partner
                                        With You</button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>



            <!-- Add Diagnostic Center End -->





        </div>
    </div>
</div>