<html>

<head>
    <title>Navigation Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<!-- Nav Link -->
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img src="../../assets/img/tok2doklogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav  ml-auto ">
                    <li class="nav-item  grey-text" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link " routerLink="/"
                        style="font-size: 16px; font-family: Suranna; ">
                            <mat-icon style="margin:0.5;">home</mat-icon>Home
                        </a>
                    </li>
                    <li class="nav-item grey-text" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}">
                        <a class="nav-link" routerLink="/login"
                        style="font-size: 16px; font-family: Suranna; ">
                            <mat-icon style="margin-top: 1px;">how_to_reg</mat-icon>Login
                        </a>
                    </li>
                    <li class=" nav-item grey-text" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact:true}" >
                        <a class="nav-link" routerLink="/register"
                        style="font-size: 16px; font-family: Suranna; ">
                            <mat-icon style="margin-top: 1px; ">person_pin</mat-icon>Register
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
</body>

<!-- NGB-Carousel(Slider) -->
<ngb-carousel>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../assets/slider/slider4.jpg" alt="Random first slide" width="1700" height="800">
        </div>
        <div class="carousel-caption">
            <h2 class="CormorantGaramond" style="color: #3C589C; font-size: 40px;">
                Healthcare For Whole Family</h2>
            <p  class="Suranna" style="color: white; font-size: 25px;">
                Wherever the art of medicine is loved, there is also a love of humanity.
            </p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../../assets/slider/SLIDER3.jpg" alt="Random second slide" width="1800" height="1000">
        </div>
        <div class="carousel-caption">
            <h2 class="CormorantGaramond" style="color: #3C589C; font-size: 40px;">
                Exceptional Care Close to You</h2>
            <p class="Suranna" style="color: white; font-size: 25px;">
                Getting out of the hospital is a lot like resigning from a book club. <br>You're not out of it until the
                computer says you're out of it.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../../assets/slider/SLIDER41.jpg" alt="Random third slide" width="1700" height="1100">
        </div>
        <div class="carousel-caption">
            <h2 class="CormorantGaramond" style="color:#3C589C; font-size: 40px;">
                Keeping You Well</h2>
            <p class="Suranna" style="color: white; font-size: 25px;">
                Healing in a matter of time, but it is sometimes also a matter of opportunity</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../../assets/slider/SLIDER5.jpg" alt="Random fourth slide" width="1700" height="1100">
        </div>
        <div class="carousel-caption">
            <h2 class="CormorantGaramond" style="color: #3C589C; font-size: 40px;">
                Better Care and Better Understanding.</h2>
            <p class="Suranna" style="color: white; font-size: 25px;">If
                we could give every individual the right amount of nourishment and exercise, not too little and not
                too much,<br> we would have found the safest way to health.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../../assets/slider/SLIDER2.jpg" alt="Random fourth slide" width="1700" height="1000">
        </div>
        <div class="carousel-caption">
            <h2 class="CormorantGaramond" style="color: #3C589C; font-size: 40px;">
                Healthcare For Whole Family.</h2>
            <p class="Suranna" style="color: white; font-size: 25px;">If
                Wherever the art of medicine is loved, there is also a love of humanity..</p>
        </div>
    </ng-template>
</ngb-carousel>



<!-- Line Division Start -->



<br><br><br><br><br>

<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="../../../assets/addition_img/landing1.jpg" alt="">
                    </div>

                     <div class="thumb_2">
                        <img src="../../../assets/addition_img/landing2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome_docmed_info">
                    <h4 class="CormorantGaramond" style="font-size: 35px;">Welcome to Tok2Dok</h4>
                   <hr>
                    <h1 class="CormorantUpright" style="color: #3C589C;">Best Care For
                        Your <br>
                        Good Health</h1><br>
                    <p class="panel_style_body container">
                        For millions of people, Tok2dok is
                        the trusted and familiar home where they know they’ll find a
                        healing touch.It connects them with everything they need to take good care of themselves and
                        their family - assessing health issues, finding the right doctor, booking diagnostic tests,
                        obtaining medicines, storing health records or learning new ways to live healthier.</p><br>
                    <ul>
                        <li class="panel_style_body container">
                            <i class="flaticon-right"></i> Tok2Dok is at your phone step with same familiar touch where
                            we connect </li><br>
                        <li class="panel_style_body container">
                            <i class="flaticon-right"></i> We stand because we understand that what it takes for good
                            care of your loved ones with quick services
                        </li><br>
                        <li class="panel_style_body container">
                            <i class="flaticon-right"></i> Healthcare providers now have an easy way to connect with
                            patients to provide services and to build trust </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div> 
<!-- welcome_docmed_area_end -->
<br><br><br><br><br>
<br><br>


<br><br><hr><br><br>


<!-- Card Start -->

<div class="container">
    <div class="row">
        <div class=col-md-6>

            <h2 class="CormorantGaramond" style="color: #3b3838;">3
                Steps For
                Better Health</h2>
          
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../assets/addition_img/ani-kolleshi-7jjnJ-QA9fY-unsplash.jpg" class="card-img" alt="..."
                        style="margin-top: 10px; margin-left: 7px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title " >
                                Checkups Available</h5><hr>
                            <p class="card-text">
                                Some
                                people
                                see
                                their doctor every moment for a checkup or test to make sure everything is ok but now
                                Tok2Dok
                                provide Free
                                sample
                                collection at home,digital reports in 24 hours.
                            </p>
                            <p class="card-text"><small class="text-muted" style="font-family: CormorantGaramond; font-size: 15px;">Last updated 8 mins ago</small></p>
                            <button type="button" class="btn btn-light" routerLink="/register" style="font-family: CormorantGaramond; font-size: 15px;"> Book
                                Test</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../assets/addition_img/piron-guillaume-U4FyCp3-KzY-unsplash.jpg" class="card-img" alt="..."
                        style="margin-top: 10px; margin-left: 7px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Connect With Doctor</h5><hr>
                            <p class="card-text">
                                Don’t
                                self
                                medicate. Talk to an expert. Consult a doctor in less than 2
                                minutes.Because in Tok2Dok you can easily find a doctor in your locality </p>
                            <p class="card-text"><small class="text-muted" style="font-family: CormorantGaramond; font-size: 15px;">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-light" routerLink="/register" style="font-family: CormorantGaramond; font-size: 15px;">Doctor
                                Listing</button>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
       

        <!-- Card Start (Right Hand Side Detail) -->
        <div class=col-md-6>
            <h2 class="CormorantGaramond" style="margin-bottom: 13px;">
                Find Doctors in top specialities</h2>
  
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../assets/Step/Step3.jpg" class="card-img" alt="..."
                        style="margin-top: 10px; margin-left: 7px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Appointment Booking</h5><hr>
                            <p class="card-text">
                                Now, in
                                Tok2Dok
                                you
                                can book
                                appointment in minutes. After successfully booking the appointment, you can also
                                download a
                                PDF
                                file according to your filling details
                            <p class="card-text"><small class="text-muted"  style="font-family: CormorantGaramond; font-size: 15px;">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-light" routerLink="/register" style="font-family: CormorantGaramond; font-size: 15px;">Appointment
                                Booking</button>

                        </div>
                    </div>
                </div>
            </div>

            <div class="card mb-3" style="max-width: 500px;">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="../../../assets/addition_img/walter-otto-PT70CT6mATQ-unsplash.jpg" class="card-img" alt="..."
                        style="margin-top: 10px; margin-left: 7px;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                Find Doctors in top specialities</h5><hr>
                            <p class="card-text">
                                Consult renowned doctors in every field 
                                at Apollo hospital. Best in world class 
                                technology for every treatment. Book an 
                                appointment now. 
                            <p class="card-text"><small class="text-muted"  style="font-family: CormorantGaramond; font-size: 15px;">Last updated 3 mins ago</small></p>
                            <button type="button" class="btn btn-light" routerLink="/register" style="font-family: CormorantGaramond; font-size: 15px;">Search For Doctors</button>

                        </div>
                    </div>
                </div>
            </div>

        </div> 


    </div>
</div>

<!-- Card End (Right Hand Side Detail) -->

<br><br><hr><br><br>


<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h4 class="CormorantGaramond"  style="color: #3C589C;">Tok2Dok</h4>
                <hr>
                <div class="row">
                    <div class="col l3 s6">
                         <ul> 

                            <li routerLinkActive="active" 
                            [routerLinkActiveOptions]="{exact:true}">
                                <a routerLink="/home" class="panel_style_body">
                                    <mat-icon style="margin-right: 0.2em; margin-bottom: 5px; color: #333333;">home
                                    </mat-icon>Home
                                </a>
                            </li>
                            <br>
                            <li routerlinkActive="active" 
                            >
                                <a routerLink="/about"  class="panel_style_body">
                                    <mat-icon style="margin-right: 0.2em; margin-bottom: 5px; color: #333333;">person
                                    </mat-icon>About Us
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col l3 offset-l3 s6">
                        <ul>
                            <li routerlinkActive="active" 
                            >
                                <a routerLink="/whyus"  class="panel_style_body">
                                    <mat-icon style="margin-right: 0.2em; margin-bottom: 5px; color: #333333;">person_add
                                    </mat-icon>
                                    Why Us
                                </a>
                            </li>
                            <br>
                            <li routerlinkActive="active" 
                            >
                                <a routerLink="/contact"  class="panel_style_body">
                                    <mat-icon style="margin-right: 0.2em; margin-bottom: 5px; color: #333333;">
                                        contact_phone</mat-icon>
                                    Contact
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col l4 offset-l2 s12">
                <h4 class="CormorantGaramond" style="color: #3C589C;">Departments</h4>
                <hr>
                <ul>
                    <li><a class="grey-text text-lighten-3"  class="panel_style_body">
                            
                            Diagnostic
                        </a></li>
                    <li><a class="grey-text text-lighten-3"  class="panel_style_body">
                            
                            Medical Insurance
                        </a></li>
                    <li><a class="grey-text text-lighten-3"  class="panel_style_body">
                            Home Care
                        </a></li>
                    <li><a class="grey-text text-lighten-3"  class="panel_style_body">
                            Test
                            Booking
                        </a></li>
                </ul>
                <br>
                <h4 class="CormorantGaramond" style="color: #3C589C;">Address</h4>
                <hr>
                <p class="panel_style_body">Contact: 8840110906</p>
                <p class="panel_style_body">Email: rahulsingh50219@gmail.com </p>
            </div>
            <br><br>



        </div>
    </div>

    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    <br><br><br>


    <div class="container">
        <div class="row">
            <div class="col-md-2">
                <img src="../../assets/img/tok2doklogo.png" class="card-img" alt="...">
            </div>
            <div class="col-md-10">
                <p class="panel_style_body">
                    For millions of
                    people, Tok2dok is the trusted and familiar home where they know they’ll find a
                    healing touch. It connects them with everything they need to take good care of themselves and their
                    family - assessing health issues, finding the right doctor, booking diagnostic tests, obtaining
                    medicines, storing health records or learning new ways to live healthier.</p>
            </div>
        </div>
    </div>
    <br><br><br>
</footer>


<div class="copy-right_text">
    <div class="container">
        <div class="footer_border"></div>
        <div class="row">
            <div class="col-xl-12">
                <p class="copy_right text-center">

                    Copyright 2020 &copy;
                    <script>document.write(new Date().getFullYear());</script> All rights reserved | Designed
                    and Developed by <a>Rahul Singh</a>

                </p>
            </div>
        </div>
    </div>
</div>


<!-- Footer End -->

</html> -->