<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Tok2Dok</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="#navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/']">Home <span></span></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">



            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/login']">Login </a>
            </li>

            <li class="nav-item" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}">
                <a class="nav-link" [routerLink]="['/register']">Register </a>
            </li>
        </ul>

    </div>
</nav> -->

<!-- Secon Navigation Panel -->

<html>

<head>
    <title>Navigation Panel</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/flaticon.css">
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <!-- navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar -->
            <a class="navbar-brand" href="#"><img src="../../assets/img/tok2doklogo.png"></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Features</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pricing</a>
                    </li>
                </ul>
            </div>
        </nav>

    </header>
</body>


<ngb-carousel>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../assets/slider/slider1.png" alt="Random first slide" width="1600" height="600">
        </div>
        <div class="carousel-caption">
            <h3>10 seconds between slides...</h3>
            <p>This carousel uses customized default values.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../assets/slider/slider4.jpg" alt="Random second slide" width="1600" height="800">
        </div>
        <div class="carousel-caption">
            <h3>No mouse events...</h3>
            <p>This carousel doesn't pause or resume on mouse events</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../assets/slider/slider3.jpg" alt="Random third slide" width="1600" height="600">
        </div>
        <div class="carousel-caption">
            <h3>No keyboard...</h3>
            <p>This carousel uses customized default values.</p>
        </div>
    </ng-template>
    <ng-template ngbSlide>
        <div class="slider">
            <img src="../../assets/slider/slider2.jpg" alt="Random fourth slide" width="1600" height="800">
        </div>
        <div class="carousel-caption">
            <h3>And no wrap after last slide.</h3>
            <p>This carousel uses customized default values.</p>
        </div>
    </ng-template>
</ngb-carousel>
<!--Start Card -->


<div class="card-group">
    <div class="container-fluid">
        <div class="row">

            <div class=" col-md-4">
                <div class="card" style="background-color: #83c4ff;">
                    <div class="card-body">
                        <img src="../../assets/logo/logo1.png">
                        <h2 class="card-title">Hospitality</h2>
                        <h4 class="card-text">Clinical excellence must be the priority for any health care service
                            provider..
                        </h4>
                        <button type="button" class="btn btn-outline-light">Apply for Service</button>

                    </div>
                </div>
            </div>

            <div class=" col-md-4">
                <div class="card" style="background-color:#17a2b8;">
                    <div class=" card-body">
                        <img src="../../assets/logo/logo2.png">
                        <h2 class="card-title">Home Care Service</h2>

                        <h4 class="card-text">We'll be there to care for your loved ones when you cannot..</h4>
                        <button type="button" class="btn btn-outline-light">Make an Appointment</button>

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card" style="background-color: #83c4ff;">
                    <div class="card-body">
                        <img src="../../assets/logo/logo3.png">
                        <h2 class="card-title">Emergency Care</h2>
                        <h4 class="card-text">Clinical excellence must be the priority for any health care service
                            provider..
                        </h4>
                        <button type="button" class="btn btn-outline-light">Register</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br><br><br><br>
<br><br><br><br><br>

<!-- End Card-->
<!-- Line Division Start -->
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<!-- Line Division End -->

<!-- welcome_docmed_area_start -->
<div class="welcome_docmed_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <div class="welcome_thumb">
                    <div class="thumb_1">
                        <img src="../../assets/sidebar/sidebar1.png" alt="">
                    </div>
                    <div class="thumb_2">
                        <img src="../../assets/sidebar/sidebar2.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="welcome_docmed_info">
                    <h4>Welcome to Tok2Dok</h4>
                    <h1 style="color: #17a2b8;">Best Care For Your <br>
                        Good Health</h1><br>
                    <p>For millions of people, Tok2dok is the trusted and familiar home where they know they’ll find a
                        healing touch.It connects them with everything they need to take good care of themselves and
                        their family - assessing health issues, finding the right doctor, booking diagnostic tests,
                        obtaining medicines, storing health records or learning new ways to live healthier.</p><br>
                    <ul>
                        <li> <i class="flaticon-right"></i> Tok2Dok is at your phone step with same familiar touch where
                            we connect </li><br>
                        <li> <i class="flaticon-right"></i> We stand because we understand that what it takes for good
                            care of your loved ones with quick services
                        </li><br>
                        <li> <i class="flaticon-right"></i> Healthcare providers now have an easy way to connect with
                            patients to provide services and to build trust </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- welcome_docmed_area_end -->
<br><br><br><br><br>
<br><br>

<!-- Line Division Start -->
<div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<!-- Line Division End -->
<!-- Card Start -->

<h2 style="text-align: center; color: #17a2b8; font-family: Georgia, 'Times New Roman', Times, serif;">3 Steps for
    Better Health</h2>
<div class="container-fluid">
    <div class="row">
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Step/step1.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="color: #17a2b8; font-family: Georgia, 'Times New Roman', Times, serif;">
                            Checkups Available</h5>
                        <p class="card-text" style="color: black; font-family:Arial, Helvetica, sans-serif;">Some people
                            see
                            their doctor every moment for a checkup or test to make sure everything is ok but now
                            Tok2Dok
                            provide Free
                            sample
                            collection at home,digital reports in 24 hours.
                        </p>
                        <p class="card-text"><small class="text-muted">Last updated 8 mins ago</small></p>
                        <button type="button" class="btn btn-light">Book Test</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Step/step2.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="color: #17a2b8; font-family: Georgia, 'Times New Roman', Times, serif;">
                            Connect With Doctor</h5>
                        <p class="card-text" style="color: black; font-family:Arial, Helvetica, sans-serif;">Don’t self
                            medicate. Talk to an expert. Consult a doctor in less than 2
                            minutes.Because in Tok2Dok you can easily find a doctor in your locality </p>
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-light">Doctor Listing</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mb-3" style="max-width: 500px;">
            <div class="row no-gutters">
                <div class="col-md-4">
                    <img src="../../assets/Step/Step3.jpg" class="card-img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"
                            style="color: #17a2b8; font-family: Georgia, 'Times New Roman', Times, serif;">
                            Appointment Booking</h5>
                        <p class="card-text" style="color: black; font-family:Arial, Helvetica, sans-serif;">Now, in
                            Tok2Dok
                            you
                            can book
                            appointment in minutes. After successfully booking the appointment, you can also download a
                            PDF
                            file according to your filling details
                        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                        <button type="button" class="btn btn-light" href="login">Appointment Booking</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Card End -->
<!-- expert_doctors_area_start -->
<!-- <div class="expert_doctors_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="doctors_title mb-55">
                    <h3>Expert Doctors</h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12">
                <div class="expert_active owl-carousel">
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="../../assets/doctor/doctor1.jpg" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="../../assets/doctor/doctor2.jpg" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="../../assets/doctor/doctor3.png" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                    <div class="single_expert">
                        <div class="expert_thumb">
                            <img src="../../assets/doctor/doctor4.jpg" alt="">
                        </div>
                        <div class="experts_name text-center">
                            <h3>Mirazul Alom</h3>
                            <span>Neurologist</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- expert_doctors_area_end -->


</html>