.navbar-brand img {
    height: 50px;
}

.card-body img {
    height: 50px;
    
}
.card-body .card-title {
    color: white;
}
.card-body .card-text {
    color: white;
}

.navbar {
    margin-bottom: 0;
    
}

.slider
{
   height:600px;
   width:100%; 
   margin-bottom: 0;
}
.card-group {
    height: 150px;
    
}

/* Introduction of "Welcome to Tok2Dok" Start*/
.welcome_docmed_area .welcome_thumb{
  margin-bottom: 100px;
}

.welcome_docmed_area .welcome_thumb .thumb_1 {
	left: 0;
}
.welcome_docmed_area .welcome_thumb .thumb_1 img {
	width: 50%;
  border: 5px solid white;
  border-radius: 15px 50px;
}
@media (max-width: 767px) {
	.welcome_docmed_area .welcome_thumb .thumb_1 img {
    width: 100%;
    
	}
}

.welcome_docmed_area .welcome_thumb .thumb_1 {
  width: 100%;

}
.welcome_docmed_area .welcome_thumb .thumb_2 {

	position: absolute;
	bottom: 64px;
	right: 60px;
	
}

.welcome_docmed_area .welcome_thumb .thumb_2 {
	
	height: 65%;
	width: 50%;
}

.welcome_docmed_area .welcome_thumb .card {
	height: 100%;
}

@media (max-width: 767px) {
	.welcome_docmed_area .welcome_thumb .thumb_2 {
	
		position: absolute;
		left: 0;
		top: 0;
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.welcome_docmed_area .welcome_thumb .thumb_2 {
		
		position: absolute;
		right: 0;
		bottom: -40px;
	}
}

.welcome_docmed_area .welcome_thumb .thumb_2 img {
	border-radius: 15px 50px;
	width: 95%;
}

@media (min-width: 768px) and (max-width: 991px) {
	.welcome_docmed_area .welcome_thumb .thumb_2 img {
		width: 100%;
	}
}


/* Introduction of "Welcome to Tok2Dok End" */

.navbar .navbar-nav .nav-item .nav-link,.navbar .navbar-nav .nav-item .nav-link:visited {
    color:black;
    margin-right: 20px;
}

.navbar .navbar-nav .nav-item .nav-link:hover,.navbar .navbar-nav .nav-item .nav-link:active{
   color: rgb(59, 58, 58);;
   
}
.slider {
    position:relative;
    float: left;
}
/* For blur effect on slider images */
.carousel-caption {
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}
.slider:before {
    content: '';
    position:absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
    z-index: 1;
}

    .page-footer {
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

.copy-right_text {
  padding-bottom: 30px;
  background: #000000;
}


.copy-right_text .footer_border {
  padding-bottom: 30px;
}


.copy-right_text .copy_right {
  font-size: 16px;
  color: #919191;
  margin-bottom: 0;
  font-weight: 400;
}

@media (max-width: 767px) {

  .copy-right_text .copy_right {
    font-size: 14px;
  }
}

.copy-right_text .copy_right a {
  color: #5DB2FF;
}
.navbar .navbar-nav .nav-item .nav-link:link,.navbar .navbar-nav .nav-item .nav-link:visited{
  color: rgba(0,0,0,1);
  margin-right: 20px;
}
.navbar .navbar-nav .nav-item .nav-link:hover, .navbar .navbar-nav .nav-item .nav-link:active{
  margin-right: 20px;
  border-bottom: 2px solid #3C589C;
}
/* Font Family */

.CormorantGaramond {
  font-family: CormorantGaramond;
  color: #3b3838;

}

.CormorantUpright {
  font-family: CormorantUpright;
  color: #3b3838;
  font-size: 25px;
}
.card-body .card-title {
  font-family: CormorantUpright;
  color: #3C589C;
  font-size: 25px;
  margin-bottom: 20px;
}

.Allura {
  font-family: Allura;
}

.card-body .card-text {
  font-family: CormorantUpright;
  color: #3b3838;
  font-size: 17px;
  text-align: justify;
  margin-bottom: 15px;
}
.panel_style {
  font-family: CormorantUpright;
  color: #3C589C;
  font-size: 20px;
 
}
.panel_style_body {
  font-family: CormorantUpright;
  color: #3b3838;
  font-size: 17px;
  text-align: justify;
  
 
}